

.ProjectTb{
    display: inline-table;
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;

}

.allDiv{
    width: 50%;
    float: left;
}

.addDiv{
    width: 50%;
    float: left;
}

.ProjectTh{
    border: 1px solid black;
}

.ProjectTd{
}

