.invalid{
    border: 1px solid red;
    background-color: #FDA49A;
}
.InputElement {
    border: 1px solid #ccc;
    background-color: white;
}

.hides{
    color: white;
}

.shows{
    color: red;
}