.input_formerror{
    border: 1px solid red;
    background-color: #FDA49A;
}
.input_form{
    
}
.loginButton{
    margin-top: 1rem;
    background: orangered;
    border: none;
    width: 150px;
    height: 30px;
    color: white;
}
.regis{
    display: inline-table;
    vertical-align: bottom;
}